$blue: #59b7c2;
$grey: #34404b;
$dark-grey: #34404b;
$light-grey: #495662;
$font-roboto: 'Bitter', sans-serif;

$primary-color: $blue;
$active-color: $blue;
$text-color: $light-grey;
$title-text: $grey;
$active-element: $dark-grey;
